@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Playfair+Display+SC:ital@0;1&family=Playfair+Display:ital@0;1&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linen;
    color: rgb(69, 46, 40);
    font-size: 1.2rem;
}

h1, h2 {
    font-family: 'Playfair Display', serif; 
}

header {
    display: grid;
    margin: 0 1rem;
}

section {
    width: clamp(28ch, 50%, 65ch);
    padding: 1rem;
}

footer {
    font-family: 'Playfair Display SC', serif;
    font-size: 10pt;
    padding-bottom: .7em;
    letter-spacing: .35ch;
}

a, a:visited {
    color: rgb(139, 78, 62)
}

a:hover, a:active {
    color: rgba(139, 77, 62, 0.75)}

.seal {
    width: max(28ch, 100%);
    place-self: center;
    margin: 10% 0 10%;
}

.site-title {
    text-align: center;
}

.date {
    text-align: right;
    font-size: .9rem;
}

.fade {
    color: rgb(69, 46, 40, 60%);
}
